.myrow{
	display: flex!important;
	flex-wrap: wrap!important;
}
.mycol{
	flex: 0 0 auto;
	width: 25%;
	padding: 6px;
}
@media screen and (max-width: 768px){
	.mycol{
		flex: 0 0 auto;
		width: 33.33333%;
		padding: 6px;
	}
}
@media screen and (max-width: 576px){
	
}