/**{
	border: 1px solid red;
}*/
a{
	text-decoration: none;
}
.container-fluid{
	margin: 0 auto;
	padding: 0;
}
.textsm{
	font-size: 12px;
}
.xsmall{
	font-size: 10px;
}
.yellowcolor{
	color: rgb(255,194,33);
}
.yellowbg{
	background-color: rgb(255,194,33);
}
.bg2{
	background-image: url(../images/baner-dec-left.png),url(../images/baner-dec-right.png);
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: left center,right center;
}
.mynav a:hover{
	background-color: red;
	color: white !important;	
}
.mydrop:hover{
	background-color: red;
}
.mydropdown a:hover{
	background-color: rgb(255,194,33);
}
.bg3{
	background-image: url(../images/about-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 400px; 
}
.colhover{
	padding: 1%;
}
.colhover:hover{
	background-image: linear-gradient(to right, rgba(0,0,0,0.15), rgba(255,255,255,0.15));

}
.bg4{
	background-image: url(../images/client-bg.png),url(../images/bootstrap.png);
	background-repeat: no-repeat;
	background-size: 100% 100%, 50% 50%;
}
.smallcontainer{
	width: 50%;
	padding: 6% 0%;
	margin: 0 auto;
}
.bg5{
	background-image: url(../images/service-icon-03.png), url(../images/regular-table-top.png);
	background-repeat: no-repeat,no-repeat;
	min-height: 200px;
	background-size: 10% 30%,100% 100%;
	background-position: center center,center;	

}
.bggrey2{
	background-color: rgba(0,0,0,0.1);	
}
